In [18]:
import numpy as np
import pandas as pd

In [19]:
my_index = ['USA','MEXICO','CANADA']
my_data = [1776,1867,1821]

In [20]:
myser = pd.Series(data=my_data)

In [21]:
pd.Series(data=my_data, index= my_index)

USA       1776
MEXICO    1867
CANADA    1821
dtype: int64

In [23]:
age = np.random.randint(0,100,4)

In [24]:
names = ['Apurva','Ankit','Ankush','Harshali']

In [25]:
pd.Series(data=age,index=names)

Apurva      39
Ankit       25
Ankush      82
Harshali    49
dtype: int64

In [26]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100, 'China':400,'India':210,'USA':260}

In [27]:
sales_Q1 = pd.Series(q1)
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [28]:
sales_Q2 = pd.Series(q2)

In [29]:
sales_Q1['USA']

250

In [30]:
sales_Q2['India']

210

In [31]:
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [32]:
sales_Q1**2

Japan      6400
China    202500
India     40000
USA       62500
dtype: int64

In [33]:
sales_Q1/3

Japan     26.666667
China    150.000000
India     66.666667
USA       83.333333
dtype: float64

In [34]:
#Between series
sales_Q1+sales_Q2

Brazil      NaN
China     850.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [37]:
#fill values
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    100.0
China     850.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64