In [43]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [20]:
for x in lst:
    print(x**2)

1
4
9
16
25
36
49
64
81
100

In [6]:
17%5

2

In [7]:
for x in lst:
    if x%2 == 1:
        print(x)

1
3
5
7
9

In [14]:
for x in lst:
    if x%2 == 0:
        print(x)
    else:
        print('This is an odd number')

This is an odd number
2
This is an odd number
4
This is an odd number
6
This is an odd number
8
This is an odd number
10

In [15]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
sm = 0

for num in lst:
    sm = sm + num
print(sm)

55

In [21]:
st = 'This is a string'

for i in st[::-1]:
    print(i)

g
n
i
r
t
s

a

s
i

s
i
h
T

In [23]:
st = 'This is a string'
st1 = st[::-1]
for i in st1:
    print(i)

g
n
i
r
t
s

a

s
i

s
i
h
T

In [25]:
# Tuple Unpacking
lst1 = [(2,4),(6,8),(10,12)]

In [28]:
type(lst1[0])

tuple

In [29]:
for tup in lst1:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [30]:
for (x,y) in lst1:
    print(x+y)

6
14
22

In [31]:
d = {'k1':1,'k2':3,'k4':4}

In [37]:
list(d.keys())

['k1', 'k2', 'k4']

In [40]:
list(d.values())

[1, 3, 4]

In [33]:
for item in d:
    print(item)

k1
k2
k4

In [32]:
d.items()

dict_items([('k1', 1), ('k2', 3), ('k4', 4)])

In [35]:
#Dictionary Unpacking

for (k,v) in d.items():
    print('This is:',k)
    print(v)

This is: k1
1
This is: k2
3
This is: k4
4

In [42]:
st = 'Print every word in this sentence that as an even number of letters'

for x in st.split():
    if len(x)%2 == 0:
        print(x + ' --> This word has even length')

word --> This word has even length
in --> This word has even length
this --> This word has even length
sentence --> This word has even length
that --> This word has even length
as --> This word has even length
an --> This word has even length
even --> This word has even length
number --> This word has even length
of --> This word has even length

### Assignment
* write a program that prints integer from 1 to 100. However, for multiples of 3, it prints 'IITr' and for multiples of 5, it prints 'Shreyas'. For multiples for both 3 and 5, it prints your name

In [1]:
for item in range(1,101):
    if item%3 ==0 and item%5 == 0:
        print('Shashi')
    elif item%3==0:
        print('IITr')
    elif item%5==0:
        print('Shreyas')
    else:
        print(item)

1
2
IITr
4
Shreyas
IITr
7
8
IITr
Shreyas
11
IITr
13
14
Shashi
16
17
IITr
19
Shreyas
IITr
22
23
IITr
Shreyas
26
IITr
28
29
Shashi
31
32
IITr
34
Shreyas
IITr
37
38
IITr
Shreyas
41
IITr
43
44
Shashi
46
47
IITr
49
Shreyas
IITr
52
53
IITr
Shreyas
56
IITr
58
59
Shashi
61
62
IITr
64
Shreyas
IITr
67
68
IITr
Shreyas
71
IITr
73
74
Shashi
76
77
IITr
79
Shreyas
IITr
82
83
IITr
Shreyas
86
IITr
88
89
Shashi
91
92
IITr
94
Shreyas
IITr
97
98
IITr
Shreyas